<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="icon" href="assets\images\caballito.png" type="image/png" />
<link rel="alternate" type="application/atom+xml" href="{{ '/atom.xml' | relative_url }}" title="{{ site.title }} Atom Feed">

